table, th, td {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
    /* text-align: left; */
}

.modules{
    display: block;
    width: max-content;
    margin: auto;
    margin-top:10px;
}

.method_name{
    background-color: lightblue;
    width :400px;
}

.codeContainer{
    background-color: whitesmoke;
    width: 1000px;
    height: 300px;
    float: left;
    vertical-align: middle;
}

.nodecodeContainer{
    background-color: whitesmoke;
    width: 1000px;
    height: 430px;
    float: left;
    vertical-align: middle;
}

.startCode{
    background-color: whitesmoke;
    width: 1000px;
    height: 400px;
    float: left;
    vertical-align: middle;
}

.black {
    color: black;
}

.blue {
    color: rgb(6, 133, 245);
}

.green {
    color:#4CAF50
}

.yellow {
    color: rgb(254, 121, 5)
}

.grey {
    color: rgb(130, 127, 127)
}

.red {
    color: red;
    font-weight: bold;
}

.methodtitle{
    vertical-align: middle;
    margin-top:10px;
}


.h2{
    width: 1000px;
    margin: auto;
    color:#4CAF50;
}
.h3{

    width: 1000px;
    margin: auto;
    margin-top:10px
}


/* navigation bar related CSS is copied from https://www.w3schools.com/howto/howto_js_topnav.asp */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }